@import '../../scss/globals/mixins';
@import '../../scss/globals/variables';
@import '../../scss/globals/container';

.movie-detail-page {
  color: $white;
  font-family: sans-serif;
  padding-bottom: 50px;

  &__about-value {
    flex-shrink: 0; 
    color: $million-grey;
    white-space: nowrap; 
    font-size: 18px;
    line-height: 24px;
    color: var(--content-primary, #FFFFFF);

  }


  @include vp-375 {
    padding-bottom: 0;
  }
}

.movie-detail-page__header {
  padding: 32px 0 43px 0;
  display: flex;
  align-items: center;
  

  @include vp-375 {
    flex-direction: column-reverse;
    padding: 0;
  }
}

.movie-detail-page__image {
  max-width: 680px;
  border-radius: 16px;

  @include vp-375 {
    width: 334px;
  }
}

.movie-detail-page__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include vp-375 {
    padding: 24px 0;
  }
}

.movie-detail-page__top-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.movie-detail-page__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $temperamental-green;
  border-radius: 16px;
  padding: 4px 12px;
  font-size: 14px;
}

.movie-detail-page__year-genre-duration {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: $dhusar-grey;
}

.movie-detail-page__title {
  margin: 0 0 16px 0;
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
 

  @include vp-375 {
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 12px 0;
  }
}

.movie-detail-page__description {
  font-size: 18px;
  line-height: 1.5;
  color: $cerebral-grey;
  margin: 0 0 30px 0;

  @include vp-375 {
    margin: 0 0 32px 0;
  }
}

.movie-detail-page__buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.movie-detail-page__trailer-button {
  font-size: 16px;
  font-weight: bold;
  color: $white;
  background-color: $blue-jeans;
  padding: 12px 30px;
  border-radius: 28px;
  border: none;
  cursor: pointer;

  @include vp-375 {
    width: 251px;
    padding: 16px;
    font-size: 18px;
    line-height: 24px;
  }
}

.movie-detail-page__back-button {
  font-size: 16px;
  font-weight: bold;
  color: $white;
  background-color: $goshawk-grey;
  padding: 12px 30px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
}

.movie-detail-page__button-favourites-icon {
  border-radius: 50%;
  background-color: $carbon;
  border: 1px solid $total-black;
  width: 68px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 16px 22px;
}

.movie-detail-page__button-favourites-icon img {
  width: 20px;
  height: 20px;
}

.movie-detail-page__about-title {
  padding: 40px 0 64px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin: 0;

  @include vp-375 {
    padding: 32px 0 40px 0;
  }
}

.movie-detail-page__about-label {
   flex-shrink: 0;
    white-space: nowrap; 
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: var(--content-primary, #FFFFFF);

  @include vp-375 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 12px 0;
  }
}

.movie-detail-page__about-item span:first-child {
  color: $cerebral-grey;
  font-weight: bold;
}

.movie-detail-page__social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
}

.movie-detail-page__social-icons a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: $carbon;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 16px;
}

.movie-detail-page__social-icons a:hover {
  background-color: $stone-cold;
}

.movie-detail-page__about-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0 0 24px 0;
}

.movie-detail-page__about-dots {
  margin: 17px 0 0 0;
}