@import '../../scss/globals/mixins';
@import '../../scss/globals/variables';

.auth-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth-modal__content {
  background-color: $white;
  border-radius: 16px;
  padding: 32px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  box-shadow: 0 4px 16px $color-black;

  @include vp-375{
    width: 335px;
  }
}

.auth-modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: $alloy;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $total-black;
  }
}

.auth-modal__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.auth-modal__logo {
  width: 156px;
  height: 35px;
  margin-bottom: 16px;
}
