@import '../../scss/globals/variables';

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 60%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: var(--content-placeholder, $total-black);
    pointer-events: none;
    object-fit: none;

    &.is-invalid {
      color: red; 
    }
  }

  input {
    border: 1px solid $light-pensive;
    border-radius: 8px;
    padding: 12px 12px 12px 40px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: $alloy;
    }

    &:focus {
      outline: none;
      border-color: $cerulean;
    }
  }

  .error {
    color: $red-orange;
    font-size: 12px;
    margin-top: 4px;
  }
}