@import '../../scss/globals/mixins';
@import '../../scss/globals/variables';
@import '../../scss/globals/container';


.genre-movies-page__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 64px 40px;
    margin: 0 0 64px 0;

    @include vp-375 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.genre-movies-page__item__image {
    border: 1px solid #FFFFFF40;
    box-shadow: 0px 0px 80px 0px #FFFFFF54;
    border-radius: 16px;
    width: 224px;
    height: 336px;

    @include vp-375 {
        width: 320px;
        height: 502px;
    }
}

.genre-movies-page__title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    margin: 0;
    color: white;

    @include vp-375 {
        padding: 35px 0 40px 0;
        font-size: 24px;
        line-height: 32px;
    }
}

.genre-movies-page__show-more {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background-color: $blue-jeans;
    border-radius: 28px;
    border: none;
    color: $white;
    display: flex;
    padding: 16px 48px;
    margin: 0 auto;

    @include vp-375 {
        margin: 0;
        width: 335px;
        background-color: var(--background-brand-active, $circumorbital-ring);
        justify-content: center;
    }
}

.genre-movies-page__header {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 40px;
    height: 40px;
    align-items: center;
    margin: 64px 0;

    @include vp-375 {
        width: 32px;
        height: 32px;
        margin: 0;
        padding: 16px 0 40px 0;
    }
}

.genre-movies-page__back-button {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: row;
}

.genre-movies-page__back-arrow {
    margin: 20px 17px 0 0;
    width: 20px;
    height: 20px;
}