@import '../../scss/globals/mixins'; 
@import '../../scss/globals/variables';
@import '../../scss/globals/container';

.genres-page__title{
    padding: 64px 0 64px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;

    @include vp-375 {
        font-size: 24px;
        line-height: 32px;
        padding: 16px 0 40px 0;
    }
}


.genres-page__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 40px;
    margin: 0 0 160px 0;

    @include vp-375{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0 0 40px 0;
    }
}

.genres-page__item {
    border: 1px solid #FFFFFF40;
    box-shadow: 0px 0px 80px 0px #FFFFFF54;
    border-radius: 24px;
}

.genres-page__item__image {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 290px;
    height: 220px;
    overflow: hidden;

    @include vp-375 {
        width: 318px;
    }
}

.genres-page__item__name {
    color: $white;
    background-color: var(--background-black, $raven);
    justify-content: center;
    padding: 22px;
    display: flex;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}