@import '../../scss/globals/mixins'; 
@import '../../scss/globals/variables';
@import '../../scss/globals/container';

.header {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    justify-content: space-between;
    align-items: center;

    @include vp-375 {
    padding: 16px 0;
    }
}

.header__nav-icons {
    display: none;

    @include vp-375 {
        @include vp-375 {
            display: flex; 
            align-items: center;
            gap: 20px;
        }
    }
}

.header__search {
    position: relative;
    display: flex;

    @include vp-375 {
        display: none;
    }
}

.header__search-input {
    flex-direction: row;
    display: flex;
    gap: 12px;
    background-color: var(--background-secondary, $montana);
    border-radius: 8px;
    width: 656px;
    padding: 12px 16px;
    cursor: pointer;
    border: none;
    color: $white;
    padding-left: 48px;
}

.header__nav-search-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.header__search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #222;
    border: 1px solid $goshawk-grey;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
     max-height: 476px; 
  overflow-y: auto;
}

.header__nav-item--backround .header__nav-link {
    color: var(--content-disabled, #FFFFFF80);
}

.header__nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.header__nav-link {
    color: $white;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    align-items: center;
    position: relative; 
    padding-bottom: 5px;

    @include vp-375 {
        display: none;
    }

    &.active {
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        background-color: $flaming-flamingo;
      }
    }
}

.header__button {
    color: $white;
    font-size: 24px;
    line-height: 32px;
    background-color: transparent;
    margin: 0;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    @include vp-375 {
        display: none;
    }
}

.header__logo {
    height: 32px;

    @include vp-375 {
        width: 80px;
        height: 18px;
    }
}

.header__logout-button {
    color: var(--content-primary, $white);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 16px 48px;
    border-radius: 28px;
    background-color: $blue-jeans;
    border: none;

    @include vp-375 {
        width: 100%;
    }
}

.header__user-name {
    color: $white;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    display: flex;

    @include vp-375 {
        display: none;
    }
}

.header__user-info {
    @include vp-375 {
        display: none;
    }
}

.mobile-search-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999; 
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
}

.mobile-search-bar {
  display: flex;
  align-items: center;
  background-color: var(--background-secondary, $montana);
  border-radius: 8px;
  padding: 12px;
  gap: 10px;
  width: 100%;
  margin-bottom: 20px; 

  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__input {
    flex-grow: 1; 
    background: transparent;
    border: none;
    color: $white;
    font-size: 16px;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__clear {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.mobile-search-results {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px; 
  overflow-y: auto; 
  background-color: $the-end; 
}

.header__nav-icon-link {
    @include vp-375 {
        background: transparent;
        border:none;
    }
}
