// Viewport 

$vp-mobile: 375px;

//Typography


//Colors

$white: #ffffff;
$black: rgba(0, 0, 0, 0.5);
$color-black: rgba(0, 0, 0, 0.1);
$alloy: #8e8e93;
$light-pensive: #d1d1d6;
$cerulean: #55acee;
$red-orange: #ff3b30;
$total-black: #000000;
$king-triton: #3b8abf;
$eerie-black: #1a1a1a;
$devil-s-grass: #4caf50;
$carbon: #333;
$squant: #666;
$the-end: #2a2a2a;
$cerebral-grey: #ccc;
$flaming-flamingo: #dc5dfc;
$montana: #393b3c;
$goshawk-grey: #444;
$blue-jeans: #67a5eb;
$temperamental-green: #308e21;
$circumorbital-ring: #6a5dc2;
$raven: #0a0b0b;
$million-grey: #999;
$dhusar-grey: #aaa;
$stone-cold: #555;
$lucky-grey: #777;
$romaine-green: #a59400;